@import "../node_modules/foundation-sites/assets/foundation"
@import "variables"

@include foundation-xy-grid-classes

.header-wrapper
	background: $orange

#logo
	font-size: 1.3em
	img
		width: 50px
	a
		color: black

.menu
	margin-top: 10px
	a:hover
		border-bottom: 5px solid cornflowerblue